:root {
  /* ---colors--- */
  --primary: #5274f9;
  --primary-rgb: 82, 116, 249;
  --success: #28ae3d;
  --success-rgb: 40, 174, 61;
  --warning: #fb874f;
  --warning-rgb: 251, 135, 79;
  --secondary: #999999;
  --black: #444444;

  /* ---sizes--- */
  --font-size: 16px;
  --font-size-sm: 12px;
  --max-width: 1240px;
  --border-radius: 16px;

  /* ---breakpoints--- */
  --breakpoint-sm: 480px;
  --breakpoint-lg: 1096px;

  /* ---box shadows--- */
  --shadow: 0 24px 43px rgba(0, 0, 0, 0.04);

  --font-name: IRANSansWeb;
}

@import "./fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  color: var(--black);
  font-size: var(--font-size);
  font-family: var(--font-name), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-weight: 300; /* Light */
}

.container {
  z-index: 100;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  max-width: var(--max-width);
}

@media (max-width: 768px) {
  body {
    font-size: var(--font-size-sm);
  }

  .container {
    max-width: 100%;
  }
}
